<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>설문 목록</h1>
{{question_list}}<br>

<ul>
    {%for question in question_list%}
        <li>
            <a href="/polls/vote_form/{{question.pk}}">
            {{question.pk}}. {{question.question_text|truncatewords:4}}
            - {{question.pub_date | date:'Y/m/d H:i:s'}}
            </a>
        </li>
    {% empty %}
        <b>아직 등록된 설문이 없습니다.</b>
    {% endfor}
    </ul>
{% endblock %}
</body>
</html>